<article class="post">
{{> post-info post}}
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea class="textarea is-info" placeholder="Type a comment here" name="comment-body"></textarea>
  </div>

  <div>
    <button class="button is-info" type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}